[Unit]
Description=service lights service
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/local/bin/service-lights

[Install]
WantedBy=multi-user.target
