[Unit]
Description=service akku service
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/local/bin/service-akku

[Install]
WantedBy=multi-user.target
