[Unit]
Description=service akku service

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/bin/service-akku

[Install]
WantedBy=multi-user.target
