[Unit]
Description=client light service
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/local/bin/client-light

[Install]
WantedBy=multi-user.target
